html,
body {
  border-radius: 10px;
  min-width: 300px;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

h4 {
  margin: 0px;
}

.main {
  padding: 10px;
}

.title {
  padding: 5px;
  padding: 5px;
  max-height: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid gray;
  border-color: gray;
}

.container {
  display: flex;
  color: white;
  overflow: hidden;
  flex-direction: column;
  background-color: black;
  max-width: 300px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(18px);
}
